*{
    margin:0px;
    padding:0px ;
    padding: 2px;
    margin: 3px;
}
body{
    background-color: black;
    background-image: url('../p9mUO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
body p{
    width: 100%;
    text-align: justify;
    color: lightgray;
   }
header li{
    display:inline;
    
    font-size: 23px;
}
header {
    display:flex;
    width: 100%;
    font-size: 25px;
margin-right: 100px;
}
main section{
    display:grid;
    grid-template-columns: auto ;
}
main section h3{
   text-align: center;
   color: yellow;
}
#About,#Experiance{
    color: yellow;
    text-align: center;
}
.allone{
    
    display:flex;
    justify-content: space-between;
    
}
header,main h4 {
    color: white; 
}

nav ul li a {
    color: white; 
}

h1 {
    color: orange; 
}

